@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

:root {
    --Pale-blue:hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);

    /* font-family: 'Red Hat Display', sans-serif; */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    width: 100vw;
    height: 97vh;
    background-color: var(--Desaturated-blue);
    position: relative;
}

.corpo {
    position: absolute;
    width: 310px;
    height: 550px;
    background-color: white;
    border-radius: 15px;
    margin: auto;
    
    

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.conteudo {
    margin: 30px;
}

.titulo > h1 {
    text-align: center;
    font-size: 1.3em;
    font-weight: 900;
    color: var(--Dark-blue);
}

.texto {
    text-align: center;
    font-weight: 900;
    font-size: .8em;
    letter-spacing: 1px;
    line-height: 1.7em;
    color: var(--Desaturated-blue);
    padding-top: 20px;
}

.preco {
    background-color: rgba(114, 128, 167, 0.082);
    padding: 13px;
    border-radius: 10px;
}

.ico > img {
    display: block;
    width: 45px;
}

.preco {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.plan-type, .plan-price {
    font-size: .8em;
}

.plan-type {
    font-weight: 900;
    color: var(--Dark-blue);
}

.plan-price {
    font-weight: 600;
    line-height: 1.7em;
    color: var(--Desaturated-blue);
}

.change {
    font-weight: 900;
    font-size: .9em;
    padding-left: 30px;
    color: var(--Bright-blue);
    position: relative;
    text-decoration: none;
}

.change::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background: var(--Bright-blue);
    margin-top: -3px;
    transition: ease-in 0.5s;
}

.change:hover {
    color: hsla(245, 83%, 68%, 1);
    cursor: pointer;
}

.change:hover::after {
    background-color: hsla(245, 83%, 68%, 1);
    width: 0%;
}

button {
    width: 100%;
    padding: 15px;
    border-radius: 9px;
    margin-top: 30px;
    background-color: var(--Bright-blue);
    border: 0px solid rgba(0, 0, 0, 0.658);
    color: white;
    font-weight: 700;
    transition: background-color 1s;
    cursor: pointer;
}

button:hover {
    background-color: hsla(245, 83%, 68%, 1);
}

.cancelar {
    text-align: center;
    margin-top: 20px;
    font-weight: 900;
    font-size: .8em;
    color: var(--Desaturated-blue);
    cursor: pointer;
    transition: color 1s;
}

.cancelar:hover {
    color: black;
}

@media screen and (min-width: 400px) {
    .corpo {
        width: 345px;
    }
}